# Ignore production, test, and tool backup files
/.git-old/
/AccompliceTempPipeTools/
/icons/
/launch/
/lib/
/notes/
/production/
/production_new/
/test/
/pipe/tools/**/backup
/pipe/accomplice/unfamiliar_tools

# Ignore IDE files
**/.idea/
**/.vscode/

# Ignore temporary files
**/__pycache__/
**/__private/
*.pyc
*.swp
*.bak

# Ignore large binary files
*.hipnc
*.usd
*.usdc
*.vdb
*.bgeo.sc


# Ignore Erwin Sequentials
/pipe/accomplice/software/maya/pipe/erwinSequentials


# Ignore Houdini env.json
pipe/accomplice/software/houdini/package/env.json

# Ignore HDA backup files
*_bak*.hdanc