[Desktop Entry]
Type=Application
Version=1.5
Name=Studini
Comment=Student Accomplice's Houdini environment
Icon=/groups/accomplice/pipeline/icons/accomplice/studini.png
Exec=/groups/accomplice/pipeline/pipe/main.py --pipe=accomplice houdini
Terminal=false
Categories=Graphics;3DGraphics;
Keywords=SideFX;19.5.640;
