[Desktop Entry]
Type=Application
Version=1.5
Name=Stumaya
Comment=Student Accomplice's Maya environment
Icon=/groups/accomplice/pipeline/icons/accomplice/stumaya.png
Exec=/groups/accomplice/pipeline/pipe/main.py --pipe=accomplice maya
Terminal=false
Categories=Graphics;3DGraphics;
Keywords=Autodesk;2024;
