[Desktop Entry]
Type=Application
Version=1.5
Name=Stunuke
Comment=Student Accomplice's Nuke environment
Icon=/groups/accomplice/pipeline/icons/accomplice/stunuke.png
Exec=/groups/accomplice/pipeline/pipe/main.py --pipe=accomplice nuke
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;X-FLTK;
Keywords=Foundry;14.0v5;NukeX;
